html{
    font-family: "Tomorrow", serif;
    background-color: darkgreen;
}
body{
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}
.empezar{
    display: grid;
    place-items: center;
    margin: auto;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: auto;
}
.intento{
    font-size: 50px;
    text-align: center;
    color: white;
}
h1{
    font-size: 40px;
    color: white;
    text-align: center;
}
p {
    font-size: 25px;
    color: white;
}   
